<div class="container">
  <div class="row cart_book">
    <div class="container col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
      <img class="img-responsive cart_book_image" src="<%= asset_path( 'Dr-Wirth_Book.png' ) %>" alt="<%= asset_path( 'Dr-Wirth_Book.png' ) %>">
    </div>
    <div class="container col-lg-5 col-md-5 col-sm-5 col-xs-12 text-left book_information">
      <div class="">
        <h2>Personalized Breast Care</h2>
        <hr>
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#Home">Description</a></li>
          <li><a data-toggle="tab" href="#menu1">Specs</a></li>
        </ul>
        <div class="tab-content">
          <div id="Home" class="tab-pane fade-in active">
            <h3></h3>
            <p>
              Personalized Breast Care: Guide to Cosmetic Surgery,
              Breast Cancer and Reconstruction is a thorough guide for breast health.
              Written by three leading plastic surgeons; Dr. Garrett Wirth,
              Dr. Keyian Paydar and Dr. Karen Lane, this book discusses any concern a woman may have.
              From the process of a breast cancer diagnosis to cosmetic surgery procedures,
              Personalized Breast Care provides in-depth information for any stage of life.
              This book goes beyond an overview of women’s health.
              Learning about the details of breast anatomy will shed light on any procedure.
              With the combined expertise of the contributing authors, you’re in good hands.
            </p>
          </div>
          <div id="menu1" class="tab-pane fade">
            <h3>Menu 1</h3>
            <p>1</p>
          </div>
        </div>
      </div>
    </div>
    <div class="share_button">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">SHARE
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <div id="share-buttons">

              <!-- Facebook -->
              <a href="http://www.facebook.com/sharer.php?u=http://wirthps.herokuapp.com/" target="_blank">
                  <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
              </a>

              <!-- Google+ -->
              <a href="https://plus.google.com/share?url=http://wirthps.herokuapp.com/" target="_blank">
                  <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
              </a>

              <!-- LinkedIn -->
              <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://wirthps.herokuapp.com/" target="_blank">
                  <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
              </a>

              <!-- Pinterest -->
              <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
                  <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" />
              </a>

              <!-- Twitter -->
              <a href="https://twitter.com/share?url=http://wirthps.herokuapp.com/" target="_blank">
                  <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
              </a>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container book_description">
  <div class="book_description_table">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#description">Description</a></li>
      <li><a data-toggle="tab" href="#notes">Notes</a></li>
      <li><a data-toggle="tab" href="#reviews">Reviews</a></li>
    </ul>
    <div class="tab-content">
      <div id="description" class="tab-pane fade in active">
        <h3>HOME</h3>
        <p>
          Personalized Breast Care: Guide to Cosmetic Surgery,
          Breast Cancer and Reconstruction is a straightforward guide to breast health.
          The editors, Dr. Garrett A. Wirth, Dr. Karen T. Lane, and Dr. Keyian Z.
          Paydar found a balance between a complete medical textbook and a basic understanding
          of breast care to create this easy- to-read and comprehensive guide.
        </p>
        <p>
          The authors understand that not all areas of the book will apply to everyone.
          The goal is to provide information for all concerned with breast health.
          Read the chapters that are of most interest to you, and reference the rest as you wish.
          The second chapter is full of medical lingo and can be used as a direct
          reference rather than read straight through.
        </p>
        <p>
          The aim of this guide is to help any individual navigate through the healthcare system
          as they go through breast cancer and surgery. The amount of information available to you is overwhelming,
          so this book is a condensed and comprehensive collection of everything you’d need to know.
        </p>
        <p>
          Breast cancer is a frightening reality for many.
          With chapters dedicated to the diagnosis progress, various therapies,
          and post cancer treatment life, you’ll be better prepared to face the disease.
          There is also a chapter dedicated to the education of family and friends in responding
          to a loved one’s cancer diagnosis.
        </p>
        <p>
          Plastic and cosmetic surgery procedures vary in intensity and necessity.
          Find out everything you need to know about breast augmentation, breast reduction,
          mastopexy, and breast reconstruction surgeries. From establishing expectations and recovery guidelines,
          you can be better prepared for a consultation and the resulting procedure.
        </p>
        <p>
          If you are simply curious about any aspect of breast health including anatomy,
          evaluation, and breast cancer therapies, this is your guide.
          Personalized Breast Care is here to provide you with the information and resources
          you need to be well-informed in all aspects of breast care.
        </p>
      </div>
      <div id="notes" class="tab-pane fade">
      </div>
      <div id="reviews" class="tab-pane fade">
      </div>
    </div>
  </div>
</div>
