@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

 body{
   background-image: image-url('bodyback2.jpg');
   background-repeat: no-repeat;
   background-color: black;
   padding-top: 40px;
   color: white;
   font-family: 'raleway';
 }

 header{
   color: white;
   font-size: 13px;
   font-family: 'raleway';
 }

 footer{
   color: white;
   font-family: 'raleway';
 }

 footer a{
  //  margin-right: 14px;
   color: white;
  //  font-size: 14px;
  //  font-weight: 700;
 }

 footer a:hover{
  //  margin-right: 14px;
   color: white;
  //  font-weight:bold;
   text-decoration:underline;
  //  font-size: 14px;
  //  font-weight: 700;
 }

 footer div{
   padding-top: 60px;
   padding-bottom: 50px;
 }

 .ft i{
   font-size: 18px;
 }

 .text_gold{
   color: #D9A94D;
 }

 .copyright{
   color: #efefef;
   float: right;
   font-size: 16px;
   font-weight: 600;
   opacity: 0.6;
 }

 @media (max-width: 767px){
   .copyright{
     float: none;
     display: block;
     width: 300px;
     height: 100%;
     margin: 0 auto;
     text-align: center;
   }
 }

 .navbar{
   border-radius: 0px;
   margin-bottom: 0px;
   border: 0px;
   min-height: 0px;
 }

 .navbar-inverse{
   background-color: #D9A94D;
 }

 .navbar-inverse .navbar-nav{
   float: right;
 }

 .navbar-inverse .navbar-nav > li > a {
   color: white;
   padding: 0 15px;
   text-align: right;
 }

  #mobile-menu.affix {
   position: fixed;
   top: 0;
   width: 100%;
   z-index:20;
  }

  #nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:20;
  }

  #sidebar.affix-top {
      position: static;
  }

  #sidebar.affix {
      position: fixed;
      top: 80px;
  }

 .navbar-inverse .navbar-nav > li {
  // border-right: solid 1px white;
  //  margin: 15px 0;
  margin-top: 5px;
  margin-bottom: 5px;
 }

 .navbar-inverse .navbar-nav > li:last-of-type {
   border: none;

 }

 .navbar-inverse .navbar-toggle{
   height: 100%;
   border-color: #D9A94D;
 }

 .navbar-inverse .navbar-nav > li > a:hover{
   color: white;
  //  font-weight:bold;
   text-decoration:underline;
 }

 .navbar-collapse{
   background-color: #D9A94D;
 }

 .navbar-header{
   background-color: white;
 }

 .navbar-toggle:hover{
   color: #fff !important;
 }

 @media (max-width: 767px){
   .tags{
     display: none;
   }
 }

 @media (max-width: 767px){
   .first_slider{
     display: none;
   }
 }

 @media (max-width: 767px){
   .navbar {
     display: none;
   }
 }

 @media (max-width: 767px){
   .logo_header {
     background-color: #1A1A1A;
     padding-top: 10px;
     padding-bottom: 10px;
   }
 }

 @media (min-width: 768px){
   .logo_header {
     display: none;
   }
 }

 @media (max-width: 767px){
   body {
     padding-top: 0px;
   }
 }

 @media (max-width: 767px){
   .book img {
     width: inherit;
   }
 }

 // @media (max-width: 768px){
 //   footer a{
 //     display: none;
 //   }
 // }

 @media (max-width: 767px){
   .cont_book img {
     width: inherit;
   }
 }

 .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    line-height: 1;
    width: 100%; // Add this
  }

  .carousel{
    padding-left: 0px;
    padding-right: 0px;
  }

  .carousel-caption{
    text-align: left;
    top: 10px;
    left: 10px;
    bottom: 0px;
    max-width: 100%;
    height: auto;
  }

  .carousel-caption a{
    font-size: 25px;
    font-weight: 600;
    border: 2px solid;
    border-color: #d9a94b;
    color: white;
    padding: 6px;
    padding-left: 26px;
    padding-right: 26px;
    bottom: 116px;
    position: absolute;
  }

  .carousel-caption a:hover{
    color: white;
    text-decoration: underline;
  }

  @media (max-width: 1199px){
    .carousel-caption a{
      bottom: 35px;
    }
  }

  @media (max-width: 991PX){
    .carousel-caption a{
      bottom: 10px;
    }
  }

  .carousel-caption hr{
    width: 360px;
    margin-left: 0px;
    opacity: 0.5
  }

  .carousel-caption img{
    width: 380px;
  }

  @media (max-width: 991px){
    .carousel-caption img{
      width: 226px;
    }
  }

  .carousel-indicators li {
    background-color: white;
  }
  .carousel-indicators .active {
    background-color: #d9a94b;
  }

  .book_carousel{
    top: 150px;
    left: 668px;
    position: absolute;
  }

  @media (max-width: 1199px){
    .book_carousel{
      left: 510px;
    }
  }

  @media (max-width: 991px){
    .book_carousel{
      top: 100px;
      left: 450px;
    }
  }

  .book{
    background-color: #efefef;
    color: #1a1a1a;
    padding-top: 40px;
    padding-bottom: 100px;
    padding-left: 25px;
  }

  .book_explanation{
    border-left: solid 1px ;
  }

  @media (min-width: 2000px){
    .book_explanation{
      margin-top: 100px;
    }
  }

  @media (min-width: 992px){
    .book_explanation{
      margin-top: 24px;
    }
  }

  @media (max-width: 767px){
    .book_explanation{
      border-left: 0px ;
    }
  }

  .book_explanation h1{
    font-size: 45px;
    font-weight: 900;
  }

  .book_explanation h3{
    font-size: 18px;
    font-weight: 700;
  }

  .book_explanation p{
    font-size: 14px;
    font-weight: 400;
  }

  .book_explanation a{
    font-size: 25px;
    font-weight: 900;
    color: white;
    border: 11px solid;
    border-color: #d9a94b;
    background-color: #d9a94b;
    text-decoration: none;
    position: absolute;
    right: 54px;
  }

  .book_explanation a:hover{
    color: white;
    text-decoration: underline;
  }

  .book_anchor{
    font-size: 25px;
    font-weight: 900;
    color: white;
    border: 11px solid;
    border-color: #d9a94b;
    background-color: #d9a94b;
    text-decoration: none;
  }

  .book_anchor:hover{
    color: white;
    text-decoration: underline;
  }

  .authors{
    color: white;
    background-color: #1a1a1a;
  }

  .authors h1{
    font-size: 42px;
    font-weight: 900;
  }

  .authors h4{
    font-size: 16px;
    font-weight: 700;
  }

  .authors h5{
    font-size: 16px;
    font-weight: 700;
  }

  .authors p{
    font-size: 12px;
    font-weight: 400;
  }

  .authors a{
    color: white;
    border: 11px solid;
    border-color: #d9a94b;
    background-color: #d9a94b;
    text-decoration: none;
    position: absolute;
    font-size: 14px;
    font-weight: 900;
  }

  .authors a:hover{
    color: white;
    text-decoration: underline;
  }

  .authors h5{
    color: #d9a94b;
  }

  #meet{
    margin-top: 52px;
  }
  @media (max-width: 991px){
    #meet{
      margin-bottom: 50px;
    }
  }

  #cover h2{
    font-size: 25px;
    font-weight: 800;
    color: #d9a94b;
    text-decoration: none;
    display: inline-table;
  }

  #cover h2:before {
    content: "";
    width: 100%;
    border-top: 0.1em solid white;
    display: table-caption;
    vertical-align: top;
    position: relative;
    top: -0.2em;
    opacity: 0.5;
  }

  #cover h2:after {
    content: "";
    width: 100%;
    border-bottom: 0.1em solid white;
    display: table-caption;
    vertical-align: baseline;
    position: relative;
    top: 1.3em;
    opacity: 0.5;
  }

  #cover h1{
    width: 50%;
    font-size: 51px;
    font-weight: 800;
  }

  .book_image{
    width: 496px;
    margin-bottom: 68px;
    margin-top: 20px;
    margin-left: 65px;
    border: 10px solid;
    border-radius: 10px;
    border-color: #C0C0C0;
  }

  @media (max-width: 1199px){
    .book_image{
      width: 496px;
      margin-bottom: 68px;
      margin-top: 20px;
      margin-left: 80px;
      border: 10px solid;
      border-radius: 10px;
      border-color: #C0C0C0;
    }
  }
  @media (min-width: 2000px){
    .book_image{
      width: 496px;
      margin-bottom: 68px;
      margin-top: 20px;
      margin-left: 65px;
      border: 10px solid;
      border-radius: 10px;
      border-color: #C0C0C0;
    }
  }

  @media (max-width: 991px){
    .book_image{
      width: 496px;
      margin-bottom: 68px;
      margin-top: 20px;
      margin-left: 0px;
      border: 10px solid;
      border-radius: 10px;
      border-color: #C0C0C0;
    }
  }

  .tags{
    background-color: #1A1A1A;
  }

  .tags img{
    max-width: 176px;
    padding-bottom: 2px;
    padding-top: 4px;
    margin-right: 268px;
  }

  @media (max-width: 991px){
    .tags img{
      margin-right: 55px;
    }
  }

  .tags a{
    color: white;
    padding-left: 20px;
  }

  .cart_book{
    background-color: white;
    color: #1a1a1a;
    padding-bottom: 70px;
    padding-top: 50px;
  }

  // @media (min-width: 768px){
  //   .cart_book{
  //     padding-bottom: 70px;
  //   }
  // }

  .book_information{
    border: 1px solid;
    margin-top: 20px;
    margin-right: 50px;
    padding-bottom: 180px;
    z-index: 1;
  }
  @media (max-width: 767px){
    .book_information{
      border-left: 0px;
      border-right: 0px;
    }
  }

  @media (max-width: 767px){
    .item_image_for_cart{
      z-index: 1;
    }
  }

  .book_description{
    background-color: #efefef;
    color: #1a1a1a;
    padding-bottom: 70px;
    padding-top: 50px;
  }

  .book_description_table{
    margin-left: 10%;
    margin-right: 15%;
    background-color: white;
  }
    @media (max-width: 767px){
      .book_description_table{
      margin-left: 1%;
      margin-right: 1%;
      background-color: white;
    }
  }

  .nav-tabs{
    background-color: white;
  }

  .nav-tabs a{
    color: black;
  }

  .tab-content > .active {
    display: block;
    padding-left: 10px;
  }

  @media (min-width: 768px){
    .mobile_menu{
        display: none;
    }
  }

  .mobile_menu .dropdown{
    background-color: white;
    text-align: right;
    border: 1px solid #d9a94b;
  }

  .mobile_menu .dropdown button{
    background-color: white;
    color: black;
    border: 1px solid #d9a94b;
  }

  .dropdown-menu{
        right: 0px;
        left: inherit;
  }

  @media (min-width: 768px){
    .mobile_book{
        display: none;
    }
  }

  .mobile_book img{
    display: -webkit-inline-box;
  }

  .mobile_book a{
    border: 2px solid #d9a94b;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .mobile_book{
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .mobile_book h3{
    color: #d9a94b;
    text-decoration: none;
    display: inline-table;
  }

  .mobile_book h3:before {
    content: "";
    width: 100%;
    border-top: 0.1em solid white;
    display: table-caption;
    vertical-align: top;
    position: relative;
    top: -0.2em;
    opacity: 0.5;
  }

  .mobile_book h3:after {
    content: "";
    width: 100%;
    border-bottom: 0.1em solid white;
    display: table-caption;
    vertical-align: baseline;
    position: relative;
    top: 1.3em;
    opacity: 0.5;
  }
  @media (min-width: 768px){
    .mobile_request_info_button{
      display: none;
    }
  }

  .mobile_request_info_button{
      right: 86px;
      padding-bottom: 44px;
  }

  @media (max-width: 767px){
      .desktop_request_link{
          display: none;
      }
  }

  @media (max-width: 767px){
    .carousel-indicators{
      margin-bottom: 76px;
    }
  }

  .share_button{
    padding-top: 10px;
  }

 @media (min-width: 1200px){
   .share_button{
     padding-top: 10px;
     padding-right: 98px;
     float: right;
   }
 }


  .share_button .dropdown button{
      background-color: #1a1a1a;
      border-radius: 0px;
  }

  @media only screen and (max-width: 1199px) and (min-width: 992px){
    .share_button{
      padding-right: 81px;
      float: right;
    }
  }

  @media only screen and (max-width: 991px) and (min-width: 768px){
    .share_button{
      padding-right: 62px;
      float: right;
    }
  }

  @media only screen and (max-width: 767px){
    .share_button{
      text-align: center;
    }
  }

  #share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
  }
  @media (max-width: 767px){
    .share_button > .dropdown{
      z-index: 0;
    }
  }

  @media (max-width: 767px){
    .cart_book_image{
      display: inline-block;
    }
  }
  @media (max-width: 767px){
    .dropdown-menu{
      right: 20%;
      left: 20%;
      text-align: center;
    }
  }

  .navbar-nav > li > .dropdown-menu {
    text-align: center;
  }

  .shopping_button{
    width: 160px;
    height: 27px;
    background-repeat: no-repeat;
    background-color: white;
    bottom: 10px;
  }

  .dont_display{
    display: none;
  }

  /********************************
  	NAVIGATION
  ********************************/
  .impleCart_empty a{
  color: white;
  }

  a:hover, a:focus {
    color: white;
    text-decoration: underline;
  }

  .cartInfo{
  	float:right;
  	width:100px;
  	background:#EFF1F4 image-url('sprite.png') -218px -2px;
  	font-size:13px;
  	font-weight:bold;
  	color:#6e6e6e;
  	text-shadow:1px 1px 0 #fff;
  	-webkit-border-radius:3px;
  	-moz-border-radius:3px;
  	border-radius:3px;
  	-webkit-box-shadow:inset 0 0 1px 0px rgba(0,0,0,.20), 0 1px 0 #fff;
  	-moz-box-shadow:inset 0 0 1px 0px rgba(0,0,0,.20), 0 1px 0 #fff;
  	box-shadow:inset 0 0 1px 0px rgba(0,0,0,.20), 0 1px 0 #fff;
  	padding: 7px 8px 6px 33px;
  	line-height: 10px;
  	position:relative;
  	top:0px;
  	margin-left:30px;
  	cursor:pointer;
  	-webkit-transition:background-color .2s linear;
  }
  @media (max-width: 767px){
    .cartInfo{
      line-height: 19px;
      top: 1px;
      margin-left: 0px;
    }
  }

  .cartInfo:hover{
  	background-color:#e8eaed;
  }
  .cartInfo.open{
  	background-position:-218px -26px;
  }
  /********************************
  	CART POPOVER
  ********************************/
  #cartPopover{
  	position:absolute;
  	width:196px;
    top: 46px;
    right: 0px;
  	z-index:21;
  	display:none;

  	color:#fff;
  	text-shadow:1px 1px 0 rgba(0,0,0,.8);
  	font-family:"FreightSansMedium", sans-serif;

  	-webkit-border-radius:4px;
  	-moz-border-radius:4px;
  	border-radius:4px;
  	border:1px solid #000;
  	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 3px rgba(0,0,0,.5);
  	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 3px rgba(0,0,0,.5);
  	box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 3px rgba(0,0,0,.5);

  	background: #45484a; /* Old browsers */
  	background: -moz-linear-gradient(top,  #45484a 0%, #2a2b2c 100%); /* FF3.6+ */
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484a), color-stop(100%,#2a2b2c)); /* Chrome,Safari4+ */
  	background: -webkit-linear-gradient(top,  #45484a 0%,#2a2b2c 100%); /* Chrome10+,Safari5.1+ */
  	background: -o-linear-gradient(top,  #45484a 0%,#2a2b2c 100%); /* Opera 11.10+ */
  	background: -ms-linear-gradient(top,  #45484a 0%,#2a2b2c 100%); /* IE10+ */
  	background: linear-gradient(top,  #45484a 0%,#2a2b2c 100%); /* W3C */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484a', endColorstr='#2a2b2c',GradientType=0 ); /* IE6-9 */
  }

  #triangle{
  	position: absolute;
  	left: 50%;
  	margin-left: -12px;
  	color: #45484A;
  	top: -24px;
  	font-size: 24px;
  	text-shadow: 0 1px 0 #444749;
  	-webkit-transform: scale(1.2,.8) translateY(1.5px);
  	-moz-transform: scale(1.2,.8) translateY(1.5px);
  	transform: scale(1.2,.8) translateY(1.5px);
  }
  #cartPopover .itemRow{
  	border-bottom:1px solid #2B2D2E;
  	border-top:1px solid #434547;
  	padding:10px;
  	height:12px;
  }
  #cartPopover .itemRow div{
  	float:left;
  }
  #cartPopover .item-custom{
  	width:35px;
  	margin-right:6px;
  }
  #cartPopover .item-custom span{
  	float:left;
  	height:13px;
  	display:inline-block;
  	font-family:"Trebuchet MS", sans-serif;
  	width:23px;
  	text-align:right;
  }
  #cartPopover .item-custom div{
  	float:left;
  	height:13px;
  	margin-left:3px;
  }
  #cartPopover .simpleCart_increment,
  #cartPopover .simpleCart_decrement{
  	line-height:1;
  	font-size:1px;
  	display:block;
  	height:5px;
  	margin-top:3px;
  }
  #cartPopover .item-name{
  	float:left;
  	width:90px;
  	white-space: nowrap;
    	overflow: hidden;
  	text-overflow: ellipsis;
  }
  #cartPopover .itemRow .item-total{
  	float:right;
  }
  #cartData{
  	background:#232425;
  	padding:10px;
  }
  #cartData strong{
  	font-family:"FreightSans", sans-serif;
  }
  #popoverButtons{
  	padding:10px;
  }
  #cartPopover strong{
  	color:#fff;
  }
  .hudbtn{
  	-webkit-border-radius:3px;
  	-moz-border-radius:3px;
  	border-radius:3px;
  	font:bold 13px/26px "FreightSans", sans-serif;
  	color:#d9d9d9;
  	text-shadow:1px 1px 1px rgba(0,0,0,.5);
  	padding:0 12px;
  	height:24px;
  	border:1px solid #000;
  	-webkit-box-shadow:inset 0 1px 0 #6d6d6e;
  	-moz-box-shadow:inset 0 1px 0 #6d6d6e;
  	box-shadow:inset 0 1px 0 #6d6d6e;

  	background: #3a3a3b; /* Old browsers */
  	background: -moz-linear-gradient(top,  #3a3a3b 0%, #343434 100%); /* FF3.6+ */
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3b), color-stop(100%,#343434)); /* Chrome,Safari4+ */
  	background: -webkit-linear-gradient(top,  #3a3a3b 0%,#343434 100%); /* Chrome10+,Safari5.1+ */
  	background: -o-linear-gradient(top,  #3a3a3b 0%,#343434 100%); /* Opera 11.10+ */
  	background: -ms-linear-gradient(top,  #3a3a3b 0%,#343434 100%); /* IE10+ */
  	background: linear-gradient(top,  #3a3a3b 0%,#343434 100%); /* W3C */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3b', endColorstr='#343434',GradientType=0 ); /* IE6-9 */

  }
  .hudbtn:hover{
  	background: #2f2f30; /* Old browsers */
  	background: -moz-linear-gradient(top,  #2f2f30 0%, #282828 100%); /* FF3.6+ */
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f2f30), color-stop(100%,#282828)); /* Chrome,Safari4+ */
  	background: -webkit-linear-gradient(top,  #2f2f30 0%,#282828 100%); /* Chrome10+,Safari5.1+ */
  	background: -o-linear-gradient(top,  #2f2f30 0%,#282828 100%); /* Opera 11.10+ */
  	background: -ms-linear-gradient(top,  #2f2f30 0%,#282828 100%); /* IE10+ */
  	background: linear-gradient(top,  #2f2f30 0%,#282828 100%); /* W3C */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2f30', endColorstr='#282828',GradientType=0 ); /* IE6-9 */
  }
  .hudbtn:active{
  	-webkit-box-shadow:none;
  	-moz-box-shadow:none;
  	box-shadow:none;
  	background: #282828; /* Old browsers */
  	background: -moz-linear-gradient(top,  #282828 0%, #2f2f30 100%); /* FF3.6+ */
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#282828), color-stop(100%,#2f2f30)); /* Chrome,Safari4+ */
  	background: -webkit-linear-gradient(top,  #282828 0%,#2f2f30 100%); /* Chrome10+,Safari5.1+ */
  	background: -o-linear-gradient(top,  #282828 0%,#2f2f30 100%); /* Opera 11.10+ */
  	background: -ms-linear-gradient(top,  #282828 0%,#2f2f30 100%); /* IE10+ */
  	background: linear-gradient(top,  #282828 0%,#2f2f30 100%); /* W3C */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#2f2f30',GradientType=0 ); /* IE6-9 */
  }
  .hudbtn.primary{
  	border-color:#3D7530;
  	background: #97c865; /* Old browsers */
  	background: -moz-linear-gradient(top,  #97c865 0%, #44933d 100%); /* FF3.6+ */
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97c865), color-stop(100%,#44933d)); /* Chrome,Safari4+ */
  	background: -webkit-linear-gradient(top,  #97c865 0%,#44933d 100%); /* Chrome10+,Safari5.1+ */
  	background: -o-linear-gradient(top,  #97c865 0%,#44933d 100%); /* Opera 11.10+ */
  	background: -ms-linear-gradient(top,  #97c865 0%,#44933d 100%); /* IE10+ */
  	background: linear-gradient(top,  #97c865 0%,#44933d 100%); /* W3C */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97c865', endColorstr='#44933d',GradientType=0 ); /* IE6-9 */
  	-webkit-box-shadow:inset 0 1px 0 #D8E994;
  	-moz-box-shadow:inset 0 1px 0 #D8E994;
  	box-shadow:inset 0 1px 0 #D8E994;
  	color:#fff;
  }
  .hudbtn.primary:hover{
  	background: #91bf61; /* Old browsers */
  	background: -moz-linear-gradient(top,  #91bf61 0%, #3f8738 100%); /* FF3.6+ */
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91bf61), color-stop(100%,#3f8738)); /* Chrome,Safari4+ */
  	background: -webkit-linear-gradient(top,  #91bf61 0%,#3f8738 100%); /* Chrome10+,Safari5.1+ */
  	background: -o-linear-gradient(top,  #91bf61 0%,#3f8738 100%); /* Opera 11.10+ */
  	background: -ms-linear-gradient(top,  #91bf61 0%,#3f8738 100%); /* IE10+ */
  	background: linear-gradient(top,  #91bf61 0%,#3f8738 100%); /* W3C */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91bf61', endColorstr='#3f8738',GradientType=0 ); /* IE6-9 */
  }
  .hudbtn.primary:active{
  	background: #3f8738; /* Old browsers */
  	background: -moz-linear-gradient(top,  #3f8738 0%, #91bf61 100%); /* FF3.6+ */
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f8738), color-stop(100%,#91bf61)); /* Chrome,Safari4+ */
  	background: -webkit-linear-gradient(top,  #3f8738 0%,#91bf61 100%); /* Chrome10+,Safari5.1+ */
  	background: -o-linear-gradient(top,  #3f8738 0%,#91bf61 100%); /* Opera 11.10+ */
  	background: -ms-linear-gradient(top,  #3f8738 0%,#91bf61 100%); /* IE10+ */
  	background: linear-gradient(top,  #3f8738 0%,#91bf61 100%); /* W3C */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f8738', endColorstr='#91bf61',GradientType=0 ); /* IE6-9 */
  	-webkit-box-shadow:none;
  	-moz-box-shadow:none;
  	box-shadow:none;
  }

  .left{float:left}
  .none{float:none}
  .right{float:right}
  .clear{clear:both}
